<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #main-menu{
            width: 100vw;
            height: 100vh;
            background-color: rgb(58, 168, 236);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div id="main-menu">
        <h1>Home</h1>
        <h1>Our Services</h1>
        <h1>About Us</h1>
        <h1>How To </h1>
    </div>


    <script>
        document.getElementById("menu").addEventListener("click",()=>{

        })
    </script>
</body>
</html>